@{
    ViewBag.Title = "Out Killer";
}
<div class="row" style="margin-top:25px;">
    <div class="col-md-4">
        <b>Programaticly Handled Data</b>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("TestForSuccessStructure","Home")" target="_blank">Test For Success Structure</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("TestForFailStructure","Home")" target="_blank">Test For Fail Structure</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("TestForNativeListStructure","Home")" target="_blank">Test For Native List Structure</a>
    </div>
</div>
<div class="row" style="margin-top:25px;">
    <div class="col-md-4">
        <b> Native Data</b>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("TestForNativeObjectFailStructure","Home")" target="_blank">Test For Native Object Fail Structure</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("TestForNativeObjectSuccessStructure","Home")" target="_blank">Test For Native Object Success Structure</a>
    </div>
</div>